:host {
  /* float over whole screen */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* higher than map */
  z-index: 2;
  /* deactivate pointer events */
  pointer-events: none;
}

:host * {
  position: absolute;
  /* activate pointer events for children */
  pointer-events: initial;
}

.burger-menu {
  top: 1%;
  right: 1%;
}
