:host {
  // float over whole screen
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // higher than map
  z-index: 2;
  // deactivate pointer events
  pointer-events: none;
}

:host * {
  // activate pointer events for children
  pointer-events: initial;
}

.burger-menu {
  //TODO: align this with flex or smth?
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}
